@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

/* Hide scrollbar */

body::-webkit-scrollbar {
    display: none;
    /* Opera and Safari */
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/*Nav*/

svg {
    left: 52px;
    top: 44px;
    position: fixed;
    z-index: 1;
}

/*Main*/

.main {
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#whiteBlock {
    width: 413px;
    height: 47px;
    margin-left: 41px;
    background-color: white;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: black;
}

#whiteBlock > b {
    font-weight: bold;
    color: black;
}

#brownBlock1 {
    width: 639px;
    height: 136px;

    background-color: #D9B27C;
}

#brownBlock2 {
    width: 705px;
    height: 160px;
    margin-left: 28px;

    background-color: #D9B27C;
}

#text1, #text2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 106.64%;
}

#blackBlock {
    width: 129px;
    height: 61px;
    margin-left: 41px;

    font-family: 'Questrial';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 106.64%;
    background-color: black;
}

#whiteBlock, #brownBlock1,  #brownBlock2, #blackBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer*/

.footer {
    width: 100%;
    height: 3cm;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
}

#partners {
    display: flex;
    flex-direction: row;
    position: fixed;

    right: 50px;
    bottom: 50px;

    justify-content: center;
}

#intel,
#samsung,
#play {
    background-color: white;
    height: 2cm;
    width: 4cm;
    margin-left: 1cm;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#partner-text {
    font-family: 'Roboto';
    font-size: 1.25em;

    height: 8vh;
    width: 8vw;

    display: flex;
    align-items: center;
}


/*  --------------------------------------    Second slide   ---------------------------------------------------  */

.wrapper-row {
    display: flex;
    flex-direction: row;
}

/* Right side */

.picture {
    background-repeat: no-repeat;
    background-size: cover;

    width: 70vw;
}

/* Left side */

.light-brown-block {
    background-color: #EBCA9C;
    height: 100vh;
    width: 30vw;

    z-index: 0;
}

.brown-block {
    background-color: #D9B27C;

    margin-top: 8cm;
    width: 35vw;
    height: 15vh;

    display: flex;
    align-items: center;
}

.text-1 {
    color: white;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 4.5em;

    margin-left: 4cm;
}

.page-count {
    font-family: "Questrial";
    font-weight: 800;
    color: white;
    height: 2cm;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-big {
    font-size: 2em;
    margin: 1cm 0 0 -5cm;
}

.text-small {
    margin: 0.5cm 0 0 0.5cm;
}

.white-box {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    margin: 2cm 4cm 0 4cm;

    height: 5vh;
}

.text-2 {
    color: #6330AB;
    font-family: "Questrial";
    font-weight: 700;
}

/* Custom overwriting for pages with names */

.joanna-block {
    width: 45vw;
}

.jt {
    background-image: url("imageJT.png");
}

.dawid-block {
    width: 40vw;
}

.dk {
    background-image: url("imageDK.png");
}

/* .piotr-block{

} */

.pg {
    background-image: url("imagePG.png");
}

.maciej-block {
    width: 40vw;
}

.mg {
    background-image: url("imageMG.png");
}