* {
    color: white;
    margin: 0;
    padding: 0;
}

/* Hide scrollbar */

/* Opera and Safari */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/*Nav*/

svg {
    left: 52px;
    top: 44px;
    position: fixed;
    z-index: 1;

    width: 50px;
    height: 50px;
}

/*Main*/

.main {
    background-image: url("../images/imgBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#whiteBlock {
    width: 413px;
    height: 47px;
    margin-left: 41px;
    margin-bottom: -7px;
    background-color: white;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: black;

    position: relative;
    z-index: 2;
}

#whiteBlock>b {
    font-weight: bold;
    color: black;
}

#brownBlock1 {
    width: 639px;
    height: 136px;
    padding: 10px 0 0 48px;

    background-color: #bc6c25;
}

#brownBlock2 {
    width: 705px;
    height: 160px;
    margin-left: 28px;
    padding: 0 0 0 20px;

    background-color: #bc6c25;
}

#text1,
#text2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 106.64%;

    width: 100%;
}

#blackBlock {
    width: 129px;
    height: 61px;
    margin-left: 41px;
    margin-top: -8px;

    font-family: 'Questrial';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 106.64%;
    background-color: black;

    position: relative;
    z-index: 2;
}

.text-black {
    margin: -2px 4px 0 0;
}

#whiteBlock,
#brownBlock1,
#brownBlock2,
#blackBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer*/

.partners-wrapper {
    right: 50px;
    bottom: 50px;

    position: fixed;
    z-index: 1;
}

#partners {
    display: flex;
    justify-content: center;
}

.text-media {
    display: none;
}

#intel,
#samsung,
#play {
    width: 114.19px;
    height: 61.08px;
    border-radius: 2.65556px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#intel {
    background: #0A60A5;
}

#play {
    background: #48257B;
    margin-left: 20.81px;
}

#samsung {
    margin-left: 20.81px;
}

.play-img {
    width: 80.73px;
    height: 26.56px;
}

#samsung {
    background: #1529A2;
}

.samsung-img {
    width: 108px;
    height: 35px;
}

#partner-text {
    width: 112px;
    height: 61px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 100%;

    display: flex;
    align-items: center;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}


/*  --------------------------------------    Second ... slide   ---------------------------------------------------  */

.wrapper-row {
    display: flex;
    flex-direction: row;
}

/* Right side */

.picture {
    background-repeat: no-repeat;
    background-size: cover;

    width: 1240px;
}

/* Left side */

.light-brown-block {
    background-color: #dda15e;
    width: 660px;
    height: 100vh;

    z-index: 0;
}

.brown-block {
    background-color: #bc6c25;

    height: 184px;
    margin-top: 240px;

    display: flex;
    align-items: center;
}

.text-1 {

    font-family: 'Inconsolata';
    font-style: normal;
    font-size: 120px;
    line-height: 106.64%;

    margin-left: 174px;
}

.page-count {
    font-family: "Questrial";

    display: flex;
}

.text-big {
    width: 32.57px;
    height: 36px;
    margin: 39px 0 0 174px;

    font-style: normal;
    font-weight: 800;
    font-size: 29.1429px;
    line-height: 36px;
}

.text-small {
    width: 57px;
    height: 39px;
    margin: 42px 0 0 15.43px;

    font-style: normal;
    font-weight: 800;
    font-size: 17.1429px;
    line-height: 21px;
}

.white-box {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    margin: 36px 0 0 174px;

    height: 52px;
    width: 235px;
}

.text-2 {
    color: #000;
    font-family: "Questrial";
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 100%;

}

/* Backgrounds for pages with names  */


.first-block-bg {
    background-image: url("../images/imgForest.jpg");
}

.second-block-bg {
    background-image: url("../images/imgLeaves.png");
}

.third-block-bg {
    background-image: url("../images/imgRose.png");
}

.fourth-block-bg {
    background-image: url("../images/imgStones.png");
}

/* Media query main page */

/* Mobile */

@media screen and (max-width: 1300px) {

    /* Logo */

    #whiteBlock {
        width: 243px;
        height: 23px;

        font-style: normal;
        font-weight: 400;
        font-size: 10.13px;
        line-height: 12px;
    }

    #brownBlock1 {
        width: 305.77px;
        height: 65.08px;
    }

    #brownBlock2 {
        width: 360px;
        height: 76.56px;
    }

    #text1,
    #text2 {
        font-style: normal;
        font-weight: 700;
        font-size: 57.4215px;
        line-height: 106.64%;
    }

    #blackBlock {
        width: 61.73px;
        height: 29.19px;

        font-style: normal;
        font-weight: 800;
        font-size: 19.1405px;
        line-height: 106.64%;
    }


    /* Footer */

    #partner-text {
        display: none;
    }

    .partners-wrapper {
        width: 100%;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-media {
        width: 219px;
        height: 61px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #play,
    #samsung {
        margin-left: 13px;
    }

    /* Second ... slide */

    .light-brown-block {
        width: 100vw;
    }

    .brown-block {
        width: 100vw !important;
        height: auto;
    }

    .text-1 {
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 25px;
    }

    .page-count {
        margin-left: 25px;
        font-size: 20px;
    }

    .text-big {
        margin-left: 0;
    }

    .white-box {
        margin-left: 25px;
        margin-top: 30px;
        width: 200px;
        height: 41px;
        font-size: 14px;
    }

}

@media screen and (max-width: 1700px) and (min-width:1300px) {
    /* Second ... slide */

    .light-brown-block {
        width: 40%;
    }

    .brown-block {
        width: 115% !important;
    }

    .text-1 {
        margin-left: 8vw;
        font-size: 5vw;
    }

    .text-big {
        margin-left: 0;
    }

    .page-count {
        margin-left: 8vw;
    }

    .white-box {
        margin-left: 5.5vw;
    }

}

@media screen and (min-width: 1901px) {
    .picture {
        width: 70%;
    }

    .light-brown-block {
        width: 30%;
    }
}