* {
    color: white;
    margin: 0;
    padding: 0;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

/* Hide scrollbar */

/* Opera and Safari */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    background-image: url('../images/sunset1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav */

svg {
    left: 52px;
    top: 44px;
    position: fixed;

    width: 50px;
    height: 50px;
}

/* main */

.wrapper-column,
.wrapper-row {
    display: flex;
}

.wrapper-column {
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.wrapper-row {
    flex-direction: row;
}

.general,
.detailed {
    height: 100vh;
}

/* Left side */

.general {
    width: 60vw;
}

.left-grid {
    margin: 75vh 0 0 5vw;

    width: 30vw;
    height: 10vh;
    display: grid;
    grid-template-columns: 150px 250px 200px;
}

.temperature,
.location,
.date,
.image,
.status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature {
    font-size: 150px;
}

.location,
.image {
    font-size: 50px;
    height: 7vh;
}

.date,
.status {
    height: 3vh;
}

.date {
    text-align: center;
}

/* Right side */

/* Search section */

hr {
    width: 30vw;
    opacity: 0.35;
}

.detailed {
    width: 40vw;
    backdrop-filter: blur(10px);
}

.search-block {
    height: 15vh;
}

input {
    cursor: white;
    background-color: transparent;
    border: none;
    outline: none;
    width: 25vw;
    overflow: hidden;

    margin: 65px 0 15px 0;
}

.find-button {
    position: absolute;
    top: 0;
    right: 0;

    width: 100px;
    height: 100px;
    background-color: orange;
}

hr.search-line {
    width: 25vw;
    margin-right: 5vw;
}


/* History section */

.history-block {
    width: 30vw;
}

.history-header,
.history-content {

    margin: 0 0 25px 0;
}

.history-content {
    opacity: 0.5;
    overflow: hidden;
}

.history-content:hover {
    cursor: pointer;
}

.hr-last {
    margin-top: 60px
}

/* Details block */

.details-block {
    width: 30vw;
}

.details-text {

    margin: 60px 0 60px 0;

}

.info {
    display: flex;

    margin: 60px 0 0 0;
}

.text {
    display: flex;
    width: 50%;
    font-weight: 200;

    justify-content: flex-start;
}

.numbers {
    display: flex;
    width: 50%;

    justify-content: flex-end;
}